{% extends 'index.html' %}

{% block title %}
    <title>Add Item</title>
{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Add Item</h1>
                <p class="fs-5 text-uppercase" style="text-align:left; color: purple;">there are {{length_of_todos}} items</p>
                <hr>
                <form action="/add/" class="form-inline" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control mb-2 mr-sm-2" name="content" placeholder="type here..." required=True>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-7">
            <ul class="list-group">
                {% for todo_item in todo_items %}
                    <li class="list-group-item">
                        {{todo_item}}
                        <div class="float-end">
                            <form action="delete/{{todo_item.id}}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">DELETE</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
